@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFCCEB;
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.container .name {
    position: absolute;
    top: 7%;
    left: calc(1rem + 4vw);
    color: #394D28;
    font-size: calc(1rem + 1.2vw);
}

.container .profile {
  width: 20%;
  margin-top: 5%;
  height: 20%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 99;
}

.info-container {
  top: 40%;
  bottom: 2%;
  left: 5%;
  right: 5%;
  background: #fff;
  height: calc(1rem + 80vw);
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  margin-top: 5%;
}

.info-container-text {
  top: 7%;
  bottom: 2%;
  left: 2%;
  right: 2%;
  width: 96%;
  background: #FFCCEB;
  height: calc(1rem + 18vw);
  border-radius: 50px 50px 50px 50px;
  position: relative;
  margin-top: 5%;
}

.text-info-card{
  top: 15%;
  position: relative;
  text-align: justify;
  left: 3%;
  right: 3%;
  width: 94%;
  font-size: calc(1rem + 0.3vw);
  color: black;
}
